[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame= "*"
chess="*"
python-chess = "*"

[dev-packages]
sphinx = "*"
flake8 = "*"
pydocstyle = "*"
docutils = "*"
coverage = "*"
setuptools = "*"
build = "*"
packaging = "*"
doit = "*"
black = "*"

[requires]
python_version = "3.12"
