[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
tomli = "*"
pygame = "*"
python-chess = "*"
doit = "*"
build = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
docutils = "*"
coverage = "*"
setuptools = "*"
packaging = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
